<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jemya: Spotify Playlist Generator - Powered by AI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <nav class="top-nav">
        {% if session.token_info %}
            <span>Welcome, {{ session.user_name }}</span>
            <a href="{{ url_for('logout') }}" class="logout-button">Log Off</a> <div id="user_id" hidden>{{ session.user_id }}</div>
        {% else %}
            <a href="{{ url_for('login') }}" class="login-button">Login to Spotify</a>
        {% endif %}
    </nav>
    <div class="container">

        <div class="left-panel">
            <h2>Playlists</h2>
            <div class="playlist-selector">
                <select id="playlist-dropdown"></select>
                <button class="refresh-button" id="refresh-button">
                    <i class="material-icons">refresh</i>
                </button>
            </div>
            <!-- <div id="create-new-container">
                <button class="apply-button" id="create-new-button">Create New</button>
            </div> -->

            <div id="playlist-info">
                Total Tracks: <span id="total-tracks">0</span> | Total Duration: <span id="total-duration">0:00</span>
                <a id="playlist-url" href="#" target="_blank" class="spotify-link">Open in Spotify</a>
                
            </div>
            <div id="playlist-tracks">
                <!-- Playlist tracks will be dynamically populated here -->
            </div>
        </div>

        <div class="separator"></div> <!-- Draggable separator -->

        <div class="right-panel">
            <div id="conversation">
                <!-- Conversation will be dynamically populated here -->
            </div>
            <div id="spinner" class="spinner"></div>
            <form id="prompt-form">
                <textarea id="prompt" placeholder="Type your message here..."></textarea>
                <button type="submit">Send</button>
            </form>
            <div id="apply-container">
                <button id="apply-button">Apply</button>
                <button id="clear-conversation-button">Clear Converation</button>
            </div>
            <div id="playlist-context" hidden>
                <!-- Playlist playlist-context -->
            </div>
        </div>
    </div>
</body>
</html>