/* Global Styles */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full height for the container */
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1f1f1f;
  color: white;
  font-size: 16px;
  z-index: 100;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}

.login-section {
  font-size: 16px;
}

.login-btn {
  background-color: #1db954;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #1ed760;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-bottom: 100px; /* Added margin to make room for the footer */
}

/* Prompt Section */
.prompt-container {
  display: flex;
  justify-content: center; /* Center the prompt */
  width: 100%;
  position: fixed; /* Fixed position at the bottom */
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #121212;
}

.prompt-input {
  width: 80%; /* Adjust to make it centered */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #4D4D4D;
  font-size: 16px;
  resize: none;
  background-color: #303030;
  color: white;
}

/* Submit Button */
.submit-button {
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

/* GPT Playlist Suggestion Section */
.gpt-playlist-section {
  text-align: center;
  margin-top: 20px;
}

.tracks ul {
  list-style-type: none;
  padding: 0;
}

.tracks li {
  margin: 10px 0;
}

/* Playlist Created Section */
.playlist-created-section {
  text-align: center;
  margin-top: 20px;
  max-height: 400px; /* Limit the height */
  overflow-y: auto; /* Make it scrollable */
}

/* Error Handling */
.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

/* Tracks Table Styles */
.tracks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tracks-table th,
.tracks-table td {
  border: 1px solid #4d4d4d;
  padding: 8px;
  text-align: left;
}

.tracks-table th {
  background-color: #1f1f1f;
  color: #fff;
}

/*********************************************/
/* Add this to your App.css or LoginPage.css */
.login-page {
  text-align: center;
  margin-top: 50px;
}

.login-page h2 {
  font-size: 24px;
  color: #333;
}

.login-page p {
  font-size: 18px;
}

.login-page a {
  color: #1db954; /* Spotify Green */
  text-decoration: none;
}